body {
  background-color: #EFE9E7;
}

.wrap {
  max-width: 1024px;
  margin: 0 auto;
}

.header {
  padding: 16px 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}