.container {
  margin-bottom: 50px;

  .title {
    font-size: 20px;
    font-weight: bold;
    color: #3d1101;
    line-height: 32px;
    text-align: center;
    margin-bottom: 30px;
  }

  h3.decorate-title {
    position: relative;

    span {
      display: inline-block;
      left: 50%;
      transform: translateX(-50%);
      font-size: 20px;
      font-weight: bold;
      color: #3d1101;
      line-height: 32px;
      text-align: center;
      margin-bottom: 30px;
      position: relative;
      background-color: #efe9e7;
    }

    &::before {
      content: "";
      position: absolute;
      display: block;
      top: 30%;
      left: 50%;
      transform: translateX(-50%);
      border: 1px solid #979797;
      width: 461px;

      @media (max-width: 576px) {
        display: none;
      }
    }
  }

  .feature {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    li {
      width: 25%;

      @media (max-width: 576px) {
        width: 70%;
        margin-bottom: 30px;
      }
    }

    img {
      border-radius: 50%;
      margin: 0 auto;
      margin-bottom: 20px;
    }
    h4 {
      font-size: 18px;
      font-weight: bold;
      color: #3d1101;
      text-align: center;
      margin-bottom: 10px;
    }

    p {
      color: #3d1101;
      line-height: 1.25;
    }
  }
}

.chef {
  display: flex;
  justify-content: space-evenly;
  background: #3d1101;
  margin-bottom: 50px;

  @media (max-width: 765px) {
    justify-content: center;
    flex-wrap: wrap;

    img {
      width: 100%;
    }
  }
}

.intro {
  width: 35%;
  color: #efe9e7;

  @media (max-width: 765px) {
    width: 80%;
  }

  h4 {
    margin-top: 50px;
    font-size: 20px;
    font-weight: bold;
    line-height: 32px;
  }

  span {
    display: block;
    font-size: 16px;
    font-weight: normal;
    line-height: 1;
    margin-bottom: 16px;
  }
  p {
    line-height: 1.25;
    margin-bottom: 50px;
  }
}

.comment {
  color: #3d1101;
  padding-bottom: 36px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  li {
    display: flex;
    width: 29%;

    @media (max-width: 576px) {
      width: 70%;
    }

    @media (max-width: 375px) {
      flex-wrap: wrap;
    }
  }

  img {
    border-radius: 50%;
    height: 67px;
    margin-right: 15px;

    @media (max-width: 375px) {
      margin: 0 auto;
    }
  }

  .content {
    h4 {
      font-size: 18px;
      font-weight: bold;
      margin-top: 20px;
      margin-bottom: 20px;

      @media (max-width: 375px) {
        text-align: center;
      }
    }

    p {
      line-height: 24px;
      margin-bottom: 16px;
    }

    .sign {
      text-align: right;
      font-weight: bold;
    }
  }
}

.order {
  padding: 50px 42px;
  background-color: rgba($color: #fafafa, $alpha: 70%);
  color: #3d1101;

  h3 {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 38px;
  }

  &-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    img {
      margin-bottom: 30px;
      @media (max-width: 765px) {
        width: 70%;
      }
      @media (max-width: 375px) {
        width: 90%;
      }
    }
  }

  form {
    width: 45%;
    display: flex;
    flex-direction: column;

    @media (max-width: 765px) {
      width: 70%;
    }

    @media (max-width: 375px) {
      width: 90%;
    }
  }

  label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 6px;
  }

  input {
    padding: 5px;
    margin-bottom: 12px;
    width: 100%;
    border: 1px solid #cccccc;
    box-shadow: inset 0px 1px 0px 0px #ececec;
    border-radius: 3px;
  }

  h5 {
    margin-bottom: 8px;
    font-weight: bold;
  }

  .vegetarian-group {
    display: flex;
    margin-bottom: 28px;

    label {
      margin-right: 6px;
    }
    input {
      margin-right: 36px;
      width: auto;
      border: none;
      border-radius: 0;
      box-shadow: none;
    }
  }

  .btn-group {
    display: flex;
    justify-content: flex-end;
    margin-top: auto;

    .btn {
      cursor: pointer;
      font-size: 14px;
      padding: 6px 14px;
      border: none;
      color: #fafafa;

      &:hover {
        transition: all 0.5s;
        opacity: 0.5;
      }

      &.cancel {
        background: rgba(0, 0, 0, 0.35);
        border-radius: 3px;
        margin-right: 11px;
      }

      &.confirm {
        background: #f56c23;
        border-radius: 3px;
      }
    }
  }
}
