doctype html
html(lang="zh-Hant-TW")
   head
      meta(charset="UTF-8")
      meta(name="viewport" content="width=  , initial-scale=1.0")
      title 六角西餐廳
      link(rel="shortcut icon" href="./img/favicon.png" type="./image/x-icon")
      meta(http-equiv="X-UA-Compatible" content="ie=edge")
      meta(name="description" content="六角西餐廳")

      //- Facebook Open Graph Meta Data
      meta(property="og:url" content="./index.html")
      meta(property="og:type" content="website")
      meta(property="og:title" content="六角西餐廳")
      meta(property="og:description" content="RWD 最終作業")
      meta(property="og:image" content="./image/x-icon")

      //- Twitter Meta Data
      meta(name="twitter:card" content="summary_large_image")
      meta(name="twitter:site" content="./index.html")
      meta(name="twitter:creator" content="阿若")
      meta(name="twitter:title" content="六角西餐廳")
      meta(name="twitter:description" content="RWD 最終作業")
      meta(name="twitter:image" content="./image/x-icon")

      link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
      link(rel="stylesheet" href="../css/all.css")
   body 
      .wrap 
         .banner
            .header
               h1 
                  a(href="../index.html")
               span.material-icons.menu-icon menu
               ul.mobile-menu
                  li
                     a(href="./about.html") 關於
                  li
                     a(href="./shopping.html") 訂餐
                  li
                     a(href="./login.html") 登入
               ul.menu
                  li
                     a(href="./about.html") 關於
                  li
                     a(href="./shopping.html") 訂餐
                  li
                     a(href="./login.html") 登入
            .banner-content
               h2.mobile-slogan 咬一口<br/>就無法忘懷的漢堡
               h2.slogan 咬一口就無法忘懷的漢堡
               h3.sub-title 七夕絕對無法錯過的好滋味<br/>
                  span.material-icons restaurant
                  span 六角大漢堡
                  span.material-icons restaurant
         .container 
         ul.footer
            li.about 
               h4 關於 六角西餐廳
               p Curabitur lobortis id lorem id bibndum. Ut id consectetur magna. Quisque volutpat augue enim, pulvinar lobortis nibh lacinia at. 
            li.contact 
               h4 聯絡方式
               ul
                  li 高雄市中正五路到底
                  li
                     a(href="tel:+886886886") +886 886 886
                  li
                     a(href="mailto:service@hexschool.com") service@hexschool.com
            li
               h2
                  a(href="../index.html") 
               ul.social 
                  li
                     a(href="#") 
                        img(src="../img/social.png" alt="")
                  li
                     a(href="#") 
                        img(src="../img/twitter.png" alt="") 
                  li
                     a(href="#") 
                        img(src="../img/facebook.png" alt="")

script(src="../all.js") 
