doctype html
html(lang="zh-Hant-TW")
   head
      meta(charset="UTF-8")
      meta(name="viewport" content="width=  , initial-scale=1.0")
      title 六角西餐廳
      link(rel="shortcut icon" href="./img/favicon.png" type="./image/x-icon")
      meta(http-equiv="X-UA-Compatible" content="ie=edge")
      meta(name="description" content="六角西餐廳")

      //- Facebook Open Graph Meta Data
      meta(property="og:url" content="./index.html")
      meta(property="og:type" content="website")
      meta(property="og:title" content="六角西餐廳")
      meta(property="og:description" content="RWD 最終作業")
      meta(property="og:image" content="./image/x-icon")

      //- Twitter Meta Data
      meta(name="twitter:card" content="summary_large_image")
      meta(name="twitter:site" content="./index.html")
      meta(name="twitter:creator" content="阿若")
      meta(name="twitter:title" content="六角西餐廳")
      meta(name="twitter:description" content="RWD 最終作業")
      meta(name="twitter:image" content="./image/x-icon")

      link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
      link(rel="stylesheet" href="../css/all.css")
   body 
      .wrap 
         .banner
            .header
               h1 
                  a(href="../index.html")
               span.material-icons.menu-icon menu
               ul.mobile-menu
                  li
                     a(href="../index.html") 首頁
                  li
                     a(href="./shopping.html") 訂餐
                  li
                     a(href="./login.html") 登入
               ul.menu
                  li
                     a(href="../index.html") 首頁
                  li
                     a(href="./shopping.html") 訂餐
                  li
                     a(href="./login.html") 登入
            .banner-content
               h2.mobile-slogan 咬一口<br/>就無法忘懷的漢堡
               h2.slogan 咬一口就無法忘懷的漢堡
               h3.sub-title 七夕絕對無法錯過的好滋味<br/>
                  span.material-icons restaurant&nbsp;
                  span 六角大漢堡&nbsp;
                  span.material-icons restaurant
         .shopping 
            .type-menu
               h3 
                  span.material-icons energy_savings_leaf
                  span 線上訂購美食
               ul
                  li
                     a(href="#") 全部（23）
                  li
                     a(href="#") 只愛吃薯條（18）
                  li
                     a(href="#") 加熱就可食（1）
                  li
                     a(href="#") 不敗漢堡系列（4）
            .main-container
               .top
                  .searchbar
                     input(type="search")
                     a(href="#").material-icons search 
                  .checkout
                     a(href="#")  結帳去
                     span.material-icons shopping_cart
               ul.products
                  li.card
                     .card-top 
                        .ribbon-decorate
                           .ribbon 熱銷美食
                        a(href="#")  
                           span.material-icons favorite_border
                        img(src="../img/product_1.png" alt="")
                     .card-bottom
                        h4 經典漢堡套餐
                        h5 Classic Hamburger Package
                        p $120 
                        a.btn(href="#")
                           span.material-icons shopping_cart
                           | 加入購物車
                  li.card
                     .card-top 
                        a(href="#")  
                           span.material-icons favorite_border
                        img(src="../img/product_2.png" alt="")
                     .card-bottom
                        h4 英俊香腸
                        h5 Handsome Sausage
                        p $1,024 
                        a.btn(href="#") 
                           span.material-icons shopping_cart
                           | 加入購物車
                  li.card
                     .card-top 
                        a(href="#")  
                           span.material-icons favorite_border
                        img(src="../img/product_3.png" alt="")
                     .card-bottom
                        h4 漢堡兄弟
                        h5 Hamburg Brothers
                        p $792 
                        a.btn(href="#")
                           span.material-icons shopping_cart
                           | 加入購物車
                  li.card
                     .card-top 
                        a(href="#")  
                           span.material-icons favorite_border
                        img(src="../img/product_4.png" alt="")
                     .card-bottom
                        h4 完美願望
                        h5 Dragon Ball Package
                        p $999,999
                        a.btn(href="#")
                           span.material-icons shopping_cart
                           | 加入購物車
         ul.footer
            li.about 
               h4 關於 六角西餐廳
               p Curabitur lobortis id lorem id bibndum. Ut id consectetur magna. Quisque volutpat augue enim, pulvinar lobortis nibh lacinia at. 
            li.contact 
               h4 聯絡方式
               ul
                  li 高雄市中正五路到底
                  li
                     a(href="tel:+886886886") +886 886 886
                  li
                     a(href="mailto:service@hexschool.com") service@hexschool.com
            li
               h2
                  a(href="../index.html") 
               ul.social 
                  li
                     a(href="#") 
                        img(src="../img/social.png" alt="")
                  li
                     a(href="#") 
                        img(src="../img/twitter.png" alt="") 
                  li
                     a(href="#") 
                        img(src="../img/facebook.png" alt="")

script(src="../all.js") 
